.container_flex{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.container_links{
    display: flex;
    gap: 20px;
}

.links{
    text-decoration: none;
    color: #000000;
    transition: .3s;
}

.links:hover{
    opacity: .7;
}

@media (max-width: 768px){
    .container_flex{
        flex-direction: column;
        gap: 20px;
    }

    .container_links{        
        border-top: 2px solid #4a4a4a;
        justify-content: space-around;
        padding-top: 10px;
        width: 90%;
    }
}